body{
    background-color:DarkCyan;
    background: linear-gradient(#87CEFA,#00CED1,#00FFFF,#00FFFF,#40E0D0,#48D1CC,#00CED1,#00BFFF,#1E90FF,#6495ED)
}
p,h1,h3,h2,h4,h5,h6{
    color:#FF00FF;
    text-align: center;
    font-family: "Ruslan Display", sans-serif;
}

#nnn{
    font-size: 200px;color: #FF0000;
}
.section p{
    color:#8B4513;
    font-size: 4em;

}
.nav-menu{
    display: flex;
    gap: 2vw;
    font-family: "Ruslan Display", sans-serif;
    list-style: none;

}
.nav-menu li a {
    text-decoration: #2F4F4F;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rrr{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.www{
    display: flex;
    min-width:250px;
    max-width: 350px;
    background-color: #FF0000;
    border-radius: 20px;
    
}
.section6{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    min-width:250px;
    max-width: 350px;
    background-color: #FF0000;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    margin: 20px;
    background-color: #3700ff;
    border-radius: 99%;
    height: 7vh;
    MAX-width: 20vw;
    display: inline-block;
    text-align: center;
    padding: 3vh;
}
.sinsint{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
}

.ttt img{
    width: 30vw;
    border-radius: 20px;
}